<h2 class="page-header"><%=event.title %></h2>
<div class="event-details">
    <div>
        <img class="event-cover" src="<%= event.coverImagePath %>">
        <div class="event-details-btn-grid">
            <a class="btn btn-primary" href="/events<%= event.id %> /edit">Edit</a>
            <%- include('../partials/deleteForm', {url:`/events/${event.id}`}) %>
            <a class="btn btn-primary event-details-location-button" href="/locations/<%= event.location.id %>">View
                Location</a>
        </div>
    </div>

    <div class="event-details-grid">
        <div class="event-details-label">Location:</div>
        <div><%=event.location.name %></div>
        <div class="event-details-label">Event Date:</div>
        <div><%=event.evenDate.toDateString() %></div>
        <div class="event-details-label">Cost:</div>
        <div><%=event.cost %></div>
        <div class="event-details-label">Description:</div>
        <div><%=event.description%></div>
    </div>





    
    



</div>